/* Common
-------------------------------------------------- */
html, body, #content, .container{
    height: 100%;
    min-height: 100%;
}

body {
	position: relative;
	padding-top: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	/*background: white url('../img/bg.png') top center repeat;*/
	color:#333;
	margin:0px auto;
}

#content{
    background: white url('../img/bg.jpeg') top center repeat;
    margin:0px auto;
    padding-top:40px;
}

.bold{
	font-weight: bold;
}

.center {
	text-align: center;
}

.margin-0 {
	margin-left: 0px;
}

h1,h2,h3,h4,h5 {
	font-weight: normal;
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 15px;
}

.fac{
    width:80%;	
}

/* Faded out hr */
hr.soften {
	height: 2px;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, .1), rgba(0, 0, 0, 0) );
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, .1), rgba(0, 0, 0, 0) );
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, .1), rgba(0, 0, 0, 0) );
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, .1), rgba(0, 0, 0, 0) );
	border: 0;
}

/* Define the color palette */
.green {
	color: #06947A;
}

.blue {
	color: #6158e2;
}

.red {
	color: #C6264C
}

.gold {
	color: #A8A38D
}

.purple{
	color :#3C0E5D;	
}

.box{
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}


.yellow-box{
	border: solid 1px #CCC; 
	background-color: #FCFDCC;
	padding:10px;
	margin-top:10px;
}

/* Detail unit
-------------------------------------------------- */
.detail-unit {
	margin: 10px 0px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border-left: 1px solid #E4E4E4;
	border-right: 1px solid #EEE;
	border-bottom: 1px solid #CCC;
	background-color: white;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border-left: 1px solid #E4E4E4;
	border-right: 1px solid #EEE;
	border-bottom: 1px solid #CCC;
	-moz-box-shadow: 3px 0px 6px #aaa;
	-webkit-box-shadow: 3px 0px 6px #aaa;
	box-shadow: 3px 0px 6px #aaa;
}

.detail-unit .heading {
	border-bottom: 1px solid #CCC;
	padding: 5px 20px;
}

.detail-unit .content {
	color: #555;
	padding: 25px 20px 10px 20px;
}

.detail-unit .content li {
	margin-bottom: 10px;
}

.navbar-inverse .navbar-inner {
	background: #193D42;
}

/* tweak the navbar to adjust to given height. you need to use this formulae */
/*.navbar .nav { height: @navbarHeight; }
.navbar .nav > li > a { padding: (@navbarHeight - 20)/2 10px ((@navbarHeight - 20)/2 + 1); }
.navbar .brand { padding: (((@navbarHeight - 20) / 2) * 0.8) 20px (((@navbarHeight - 20) / 2) * 1.2); }
*/
.navbar .nav {
	height: 51px;
}

.navbar .nav>li>a {
	padding: 15px 10px 16px
}

/* Sidebar
-------------------------------------------------- */
.sidebar {
	height: 100%;
    min-height: 100%;
	background: url('../img/side-ribbon.jpg') repeat-y;
	padding-top: 50px;
	background-size: 100% auto;
	-webkit-background-size: 100% auto; /*  Safari  */
	-khtml-background-size: 100% auto; /*  Konqueror  */
	-moz-background-size: 100% auto;
	background-size: 100% auto; /*  Firefox  */
	-webkit-box-shadow: #444 3px 0px 6px;
	box-shadow: #444 3px 0px 6px;
}

/* Dashboard
-------------------------------------------------- */
.dashboard {
    width: 80%;
}

/* Quiz Library
-------------------------------------------------- */
.quiz-library{
}

.quiz-library .box{
	padding:5px;
}

.quiz-library .box:hover{
    cursor:pointer;
}


/* questions
-------------------------------------------------- */
.question-toolbar {
	padding: 5px;
	text-align: center;
	background-color: whiteSmoke;
	border-top: 1px solid white;
	border: 1px solid #DDD;
	margin-top:10px;
}

#next,#previous,#submit {
    cursor: pointer;
}


.option-button {
	margin: 10px 0px 10px 0px;
	padding-right: 20px
}

.option-box {
	position: relative;
	margin: 10px 0px 10px 10px;
	padding: 20px 10px;
	background-color: #EEE;
	border: 1px solid #CCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#solution{
	font-size:18px;
}

#solution .sol{
	margin-top:5px;	
}

#solution .stats span{
	margin-left:20px;
}

.quizview .sidenav>li, .quiz-analytics .sidenav>li{
	padding:10px
}

.quizview .sidenav>li>a, .quiz-analytics .sidenav>li>a {
	display: block;
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: #C6C6C6;
	font-size: 20px;
}

.quizview > .row-fluid, .quiz-analytics > .row-fluid{
    height: 100%;
    min-height: 100%;
}

.quizview .detail-unit{
    height: 100%;
    min-height: 100%;
}

.quiz-analytics .box{
	padding : 10px 0px 25px 0px;
	margin-bottom:10px;
	border-bottom: 5px solid #CCC; 
}

.quiz-analytics .score{
	font-size: 40px;
	text-align: center;
	color: #0066B2;
	font-weight: bold;
}


.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display: inline;     /* for IE7*/
    *zoom:1;              /* for IE7*/

}

.nav-pills {
    text-align:center;
}