<div class="container dashboard">
	<div class="row-fluid" id="notification"></div>
	<div class="row-fluid">
		<div class="span7">
			<div class="media box">
				<a class="pull-left" href="#"> <img class="media-object"
					src="img/128.gif">
				</a>
				<div class="media-body">
					<h3 class="media-heading">Shikhar Sachan</h3>
				</div>
			</div>
		</div>
		<div class="span5">
			<div class="media box">
				<div class="media-body">
                    <h4 class="media-heading">Score Card</h4>
                    <hr class="soften">
                </div>
			</div>
		</div>
	</div>
	<hr class="soften">
	<h2>Performance</h2>

	<div id="performance"></div>

	<hr class="soften">
	<h2>History</h2>
	<div id="history"></div>
    <hr class="soften">
    <h2>Graphs</h2>
    <div id="graphs"></div>
    
</div>
