<div class="container faclib">
    <div class="row-fluid ">
        <!--Enclosing the section 1-->
        <div class="row-fluid faclib-sec1">
            <div class="span3 faclib-heading">
                <h2>FACULTY LIBRARY</h2>
            </div>
            <div class="span4">
                <div class="span3 faclib-search">
                    <h4>Search</h4>
                </div>
                <div class="span7 box font-h5">Search for faculty</div>
                <div class="span2">
                    <div class="span10">
                        <img src="img/search-icon.png" />
                    </div>
                </div>
            </div>

            <!--  Use bootstrap to create this as a text field
                 <form class="form-search span4">
                   <input type="text" class="input-small search-query">
                   <button type="submit" class="btn"><img src="img/search-icon.png" /> </button>
                 </form>
                 -->

            <div class="span5">

                <div class="span4 faclib-filter1">
                    <h5>Most Relevant</h5>
                </div>
                <div class="span3 faclib-filter1">
                    <h5>Toughest</h5>
                </div>
                <div class="span4 faclib-filter2 blue">
                    <h4>Recently Added</h4>
                </div>

            </div>

        </div>
        <div class="row-fluid" id="fac-list"></div>
    </div>
</div>