<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="modalLabel">
            <div class="media">
                <a class="pull-left" href="#fac/<%=id %>"> <img class="media-object"
                    src="http://placehold.it/80x80">
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><%= firstName%> <%= lastName%></h4>
                </div>
            </div>
        </h3>
    </div>
    <div class="modal-body">
        <p>
            <img src="img/128.gif" height="200" width="185" alt="">
        <h5><%= topics %></h5>
        <p><%= description %></p>
        <%= difficulty %> | <%= rec %> 
        </p>
    </div>
    <div class="modal-footer">
        <a href="#quiz/<%=id %>" class="btn btn-primary" >Redeem your package and take the
            quiz</a>
    </div>
</div>